<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons left>
      <button color="primary" ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="title-color">{{title}} Preventive Maintenance</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-primary50" padding>
  <ion-fab top right edge *ngIf="platform.is('cordova')">
    <button ion-fab mini margin-left (click)="open()" color="secondary"><ion-icon name="phone-portrait"></ion-icon></button>
  </ion-fab>

  <form margin-top (ngSubmit)="submit()">
    <ion-input type="hidden" [(ngModel)]="workorder.equipmentcatid" name="equipmentcatid"></ion-input>
    <ion-input type="hidden" [(ngModel)]="workorder.equipmentpartid" name="equipmentpartid"></ion-input>
    <ion-input type="hidden" [(ngModel)]="workorder.tagid" name="tagid"></ion-input>
    <ion-item>
      <ion-input placeholder="WO/PM No" type="text" [(ngModel)]="workorder.workorderno" (ngModelChange)="checkWONO()" name="workorderno"
        disabled></ion-input>
      <ion-label color="danger" no-margin>{{error}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Work Type</ion-label>
      <ion-select [(ngModel)]="workorder.worktypes" (ngModelChange)="getWorktype(worktype)" name="worktype">
        <ion-option *ngFor="let worktype of worktypes" [value]="worktype" [selected]="selectedWorktype == worktype">{{worktype}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Name" type="text" [(ngModel)]="workorder.name" name="name"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <span>Date Created</span>
      <ion-icon item-right name="md-calendar"></ion-icon>
      <ion-input placeholder="Date" type="date" [(ngModel)]="pm.date" name="date"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-input placeholder="Facility" type="text" [(ngModel)]="workorder.faculty" name="faculty"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Location" type="text" [(ngModel)]="workorder.exactlocation" name="exactlocation"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-input ng2-auto-complete [source]="equipmentsCatArray" list-formatter="name" (valueChanged)="selectEquipmentsCats($event)"
        placeholder="Equipment Name" type="text" [(ngModel)]="workorder.equipmentcatname" name="equipmentcatname"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-input ng2-auto-complete [source]="equipmentsPartArray" list-formatter="name" (valueChanged)="selectEquipmentsParts($event)"
        placeholder="Part Name" type="text" [(ngModel)]="workorder.equipmentpartname" name="equipmentpartname"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-input ng2-auto-complete [source]="equipmentsTagArray" list-formatter="tagname" (valueChanged)="selectEquipmentsTags($event)"
        placeholder="Tag name" type="text" [(ngModel)]="workorder.tagname" name="tagname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Description" type="text" [(ngModel)]="workorder.description" name="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Write work procedure here!" type="text" [(ngModel)]="workorder.workprocedure" name="workprocedure"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Write job safety advice!" type="text" [(ngModel)]="workorder.precautions" name="precautions"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Priority</ion-label>
      <ion-select [(ngModel)]="workorder.priority" name="priority">
        <ion-option *ngFor="let priority of priorities" [value]="priority" [selected]="selectedPriority == priority">{{priority}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Responsibility</ion-label>
      <ion-select [(ngModel)]="workorder.responsibility" name="responsibility">
        <ion-option *ngFor="let responsibility of responsibilities" [value]="responsibility" [selected]="selectedResponsibility == responsibility">{{responsibility}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf=show>
      <span>Date Created</span>
      <ion-icon item-right name="md-calendar"></ion-icon>
      <ion-input placeholder="Date" type="date" [(ngModel)]="workorder.datewo" name="datewo"></ion-input>
    </ion-item>
    <ion-item *ngIf=!show>
      <ion-input placeholder="Frequency in days" type="number" [(ngModel)]="workorder.frequency" name="frequency"></ion-input>
    </ion-item>
    <p class="danger" *ngIf=!show> Enter the period for reminder </p>
    <button ion-button type="submit" block [disabled]="!workorder.workorderno || error">Submit</button>
  </form>
</ion-content>