<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons left>
      <button color="primary" ion-button (click)="cancel()">
          <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="title-color">{{title}} Work Order</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-primary50" padding>
  <ion-fab top right edge *ngIf="platform.is('cordova')">
    <button ion-fab mini margin-left (click)="open()" color="secondary"><ion-icon name="phone-portrait"></ion-icon></button>
  </ion-fab>

  <form margin-top (ngSubmit)="submit()">
    <ion-item>
      <ion-input ng2-auto-complete [source]="employeeArray" (valueChanged)="selectEmployee($event)" placeholder="Employee Name" type="text" [(ngModel)]="workOrder.employee"
        name="employee"></ion-input>
    </ion-item>
      <ion-item>
        <ion-label>Department</ion-label>
        <ion-select [(ngModel)]="workOrder.department" name="department">
          <ion-option *ngFor="let department of departments" [value]="department">{{department}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Name of Work Order" type="text" [(ngModel)]="workOrder.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-right name="md-calendar"></ion-icon>
        <ion-input placeholder="Date" type="date" [(ngModel)]="workOrder.date" name="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Location" type="text" [(ngModel)]="workOrder.location" name="location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Work Order" type="text" [(ngModel)]="workOrder.workorder" name="workorder" disable></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Equipment" type="text" [(ngModel)]="workOrder.equipment" name="equipment"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Description" type="text" [(ngModel)]="workOrder.description" name="description"></ion-textarea>
      </ion-item>
      <button ion-button type="submit" block>Submit</button>
  </form>
</ion-content>