<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-buttons>
        <button (click)="home()" ion-button icon-only>
                    <ion-icon name="ios-home"></ion-icon>
                </button>
      </ion-buttons>
    </ion-title>

  </ion-toolbar>
</ion-header>

<!-- Themes  register-flat-->
<ion-content class="background-image">
  <ion-grid no-padding class="bg-color">
    <ion-row header align-items-start align-items-stretch>
      <!-- Section form>-->
      <ion-col col-10 offset-1 col-md-6 offset-md-3>
        <ion-slides (ionSlideDidChange)="slideChanged()">
          <ion-slide>
            <form padding>
              <ion-row class="wlm-msg" align-items-start>
                <ion-col align-self-baseline col-12>
                  <ion-list text-center>
                    <img src="assets/images/NOG-LOGO.jpg" class="img-size" />
                  </ion-list>
                  <h1><strong>WORK PERMIT</strong></h1>
                </ion-col>
              </ion-row>
              <!-- Input-field -->
              <ion-row>
                <ion-col col-12>
                <fieldset [disabled] = 'disabled'>
                  <div input-field>
                    <!-- Input-field-text -->
                    <ion-item>
                      <ion-input placeholder="PTWONO" type="text"
                        [(ngModel)]="workpermit.ptwno" name="ptwno"></ion-input>
                    </ion-item>
                  </div>
                </fieldset>
                  <br>
                  <!-- Login button -->
                  <ion-col col-12 no-padding>
                    <button no-margin ion-button color="primary" full text-uppercase (click)="next()">Next</button>
                  </ion-col>
                </ion-col>
              </ion-row>
            </form>
          </ion-slide>
          <ion-slide>
            <form padding>
              <ion-row class="wlm-msg" align-items-start>
                <ion-col align-self-baseline col-12>
                  <ion-list text-center>
                    <img src="assets/images/NOG-LOGO.jpg" class="img-size" />
                  </ion-list>
                  <h1><strong>WORK PERMIT</strong></h1>
                </ion-col>
              </ion-row>
              <!-- Input-field -->
              <ion-row>
                <ion-col col-12>
                <fieldset [disabled] = 'disabled'>
                  <div input-field>
                    <!-- Input-field-date -->
                    <ion-item no-padding>
                      <ion-icon item-right name="md-calendar"></ion-icon>
                      <ion-input class="text-input" [(ngModel)]="workpermit.datecreated" type="date" placeholder="Date Created" name="datecreated" required></ion-input>
                    </ion-item>
                  </div>
                  <div input-field>
                    <!-- Input-field-faculty -->
                    <ion-item no-padding>
                      <ion-input class="text-input" type="text" [(ngModel)]="workpermit.faculty" placeholder="Facility/Installation" name="faculty" required></ion-input>
                  
                    </ion-item>
                  </div>
                  <div input-field>
                    <!-- Input-field-location -->
                    <ion-item no-padding>
                      <ion-input class="text-input" [(ngModel)]="workpermit.exactlocation" type="text" placeholder="Exact Location" name="exactlocation" required></ion-input>
                      
                    </ion-item>
                  </div>
                  <div input-field>
                    <!-- Input-field-description -->
                    <ion-item no-padding>
                      <ion-textarea class="text-input" [(ngModel)]="workpermit.description" type="text" placeholder="Description of Work" name="description" required></ion-textarea>
                      
                    </ion-item>
                  </div>
                  <div input-field>
                  <ion-item no-padding>
                      <ion-input ng2-auto-complete [source]="equipmentsCatArray" list-formatter="name" (valueChanged)="selectEquipmentsCats($event)" placeholder="Category Name" type="text" [(ngModel)]="workpermit.equipmentcatname" name="equipmentcatname"></ion-input>
                    </ion-item>
                  </div>
                  <div input-field>
                    <ion-item no-padding>
                      <ion-input ng2-auto-complete [source]="equipmentsPartArray" list-formatter="name" (valueChanged)="selectEquipmentsParts($event)" placeholder="Part Name" type="text" [(ngModel)]="workpermit.equipmentpartname" name="equipmentpartname"></ion-input>
                    </ion-item>
                  </div>
                 <div input-field>
                    <ion-item no-padding>
                      <ion-input ng2-auto-complete [source]="equipmentsTagArray" list-formatter="tagname" (valueChanged)="selectEquipmentsTags($event)" placeholder="Tag name" type="text" [(ngModel)]="workpermit.tagname" name="tagname"></ion-input>
                    </ion-item>
                  </div>
                  <div input-field>
                    <!-- Input-field-equipments -->
                    <ion-item no-padding>
                      <ion-textarea class="text-input" [(ngModel)]="workpermit.equipments" type="text" placeholder="Equipments,Tools or Material to be used" name="equipments" required></ion-textarea>
                      
                    </ion-item>
                  </div>
                  <div input-field>
                    <!-- Input-field-password -->
                    <ion-item no-padding>
                      <ion-icon item-right name="md-calendar"></ion-icon>
                      <ion-input class="text-input" [(ngModel)]="workpermit.startdate" type="date" placeholder="Start Date" name="startdate" required></ion-input>
                      
                    </ion-item>
                  </div>
                  <div input-field>
                    <!-- Input-field-password -->
                    <ion-item no-padding>
                      <ion-icon item-right name="md-calendar"></ion-icon>
                      <ion-input class="text-input" [(ngModel)]="workpermit.enddate" type="date" placeholder="End Date" name="enddate" required></ion-input>
                      
                    </ion-item>
                  </div>
                  <div input-field>
                    <!-- Input-field-password -->
                    <ion-item no-padding>
                      <ion-input class="text-input" [(ngModel)]="workpermit.noofworkers" type="number" placeholder="No of Workers" name="noofworkers" required></ion-input>
                      <!-- <ion-label no-margin *ngIf="!isPasswordValid">{{data.errorPassword}}</ion-label> -->
                    </ion-item>
                  </div>
                </fieldset>
                  <br>
                  <!-- Login button -->
                  <ion-col col-12 no-padding>
                    <button no-margin ion-button color="primary" full text-uppercase (click)="next()">Next</button>
                  </ion-col>
                </ion-col>
              </ion-row>
            </form>
          </ion-slide>
          <ion-slide>
            <form padding>
              <ion-row class="wlm-msg" align-items-start>
                <ion-col align-self-baseline col-12>
                  <ion-list text-center>
                    <img src="assets/images/NOG-LOGO.jpg" class="img-size" />
                  </ion-list>
                  <h1><strong>WORK PERMIT</strong></h1>
                  <br>
                  <div>
                    <h2 class="danger"> Safety Precautions to be carried out</h2> 
                    <button ion-button small class="pre-color" (click)="openAlert()"><ion-icon name="md-clipboard"></ion-icon></button>
                  </div>
                </ion-col>
              </ion-row>
              <!-- Input-field -->
              <ion-row>
                    <ion-col col-12>
                <fieldset [disabled] = 'disabled'>
                  <div input-field>
                    <!-- Input-field-email -->
                    <ion-item no-padding>
                      <ion-textarea class="text-input" type="text" [(ngModel)]="workpermit.precautions" rows="7" name="precautions" placeholder="Safety Precautions"
                        required></ion-textarea>
                    </ion-item>
                  </div>
                  <br>
                  <!-- Login button -->
                  <ion-col col-12 no-padding>
                    <button no-margin ion-button color="primary" full text-uppercase (click)="submit()">Submit</button>
                  </ion-col>
                </fieldset>
                </ion-col>
            </ion-row>
            </form>
          </ion-slide>
          <!--  <ion-slide>
            <form padding>
              <ion-row class="wlm-msg" align-items-start>
                <ion-col align-self-baseline col-12>
                  <ion-list text-center>
                    <img src="assets/images/NOG-LOGO.jpg" class="img-size" />
                  </ion-list>
                  <h1><strong>WORK PERMIT</strong></h1>
                  <br>
                  <h2>AREA AUTHORITY</h2>
                  <div> I authorise that work may be carried out <br> provided the stated precautions and preparations are <br> 
                   observed and clearance given by the Area Authority Site Supervisor.
                  </div>
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col col-12>
                  <div input-field>
                    
                      <button ion-button medium color="attrgreen">APPROVE</button> 
                      <button ion-button medium color="danger">DISAPPROVE</button> 
                  </div>
                  <br>
                  
                  <ion-col col-12 no-padding>
                    <button no-margin ion-button color="primary" full text-uppercase (click)="next()">Next</button>
                  </ion-col>
                </ion-col>
              </ion-row>
            </form>
          </ion-slide>
            <ion-slide>
            <form padding>
              <ion-row class="wlm-msg" align-items-start>
                <ion-col align-self-baseline col-12>
                  <ion-list text-center>
                    <img src="assets/images/NOG-LOGO.jpg" class="img-size" />
                  </ion-list>
                  <h1><strong>WORK PERMIT</strong></h1>
                  <br>
                  <h2>AREA AUTHORITY (Site Supervisor)</h2>
                  <div> I authorise that work may be carried out <br> provided the stated precautions and preparations are <br> 
                   observed and clearance given by the Area Authority Site Supervisor.
                  </div>
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col col-12>
                  <div input-field>
                    
                      <button ion-button medium color="attrgreen">APPROVE</button> 
                      <button ion-button medium color="danger">DISAPPROVE</button> 
                  </div>
                  <br>
                  
                  <ion-col col-12 no-padding>
                    <button no-margin ion-button color="primary" full text-uppercase (click)="next()">Next</button>
                  </ion-col>
                </ion-col>
              </ion-row>
            </form>
          </ion-slide>
          <ion-slide>
            <form padding>
              <ion-row class="wlm-msg" align-items-start>
                <ion-col align-self-baseline col-12>
                  <ion-list text-center>
                    <img src="assets/images/NOG-LOGO.jpg" class="img-size" />
                  </ion-list>
                  <h1><strong>Hi! We can’t wait to meet you!!</strong></h1>
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col col-12>

                  
                  <ion-col col-12 no-padding>
                    <button no-margin ion-button color="primary" full text-uppercase (click)="submit(users)">Submit</button>
                  </ion-col>
                </ion-col>
              </ion-row>
            </form>
          </ion-slide> -->
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right *ngIf="!startSlide">
    <button ion-fab color="primary" (click)="prev()" mini> <ion-icon name="arrow-back">  </ion-icon> </button>
  </ion-fab>
</ion-content>