<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons left>
      <button color="primary" ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="title-color">{{title}} Work Order</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-primary50" padding>
  <!-- <form margin-top > -->
    <fieldset [disabled]="showButton">
      <ion-input type="hidden" [(ngModel)]="workorder.equipmentcatid" name="equipmentcatid"
        ></ion-input>
      <ion-input type="hidden" [(ngModel)]="workorder.equipmentpartid" name="equipmentpartid"
        ></ion-input>
      <ion-input type="hidden" [(ngModel)]="workorder.tagid" name="tagid"
        ></ion-input>

        <ion-item>
          <span>Date Created</span>
          <ion-icon item-right name="md-calendar"></ion-icon>
          <ion-input placeholder="Date" type="date" [(ngModel)]="workorder.datewo" name="datewo"></ion-input>
        </ion-item>
      <!--  <ion-item>
        <ion-input placeholder="WO/PM No" type="text" [(ngModel)]="preventivemaintenance.pmno" (ngModelChange)="checkPMNO()" name="pmno"
          disabled></ion-input>
        <ion-label color="danger" no-margin>{{error}}</ion-label>
      </ion-item> -->
      <!-- <ion-item>
        <span>Date Created</span>
        <ion-icon item-right name="md-calendar"></ion-icon>
        <ion-input placeholder="Date" type="date" [(ngModel)]="pm.date" name="date"></ion-input>
      </ion-item> -->
      <!--  <ion-item>
        <ion-input placeholder="Facility" type="text" [(ngModel)]="preventivemaintenance.faculty" name="faculty" disabled></ion-input>
      </ion-item> -->
      <!-- <ion-item>
        <ion-input placeholder="Location" type="text" [(ngModel)]="preventivemaintenance.exactlocation" name="exactlocation"></ion-input>
      </ion-item> -->
      <br>
      <div *ngFor="let item of workorder.itemarray; let i=index">
        <ion-icon name="close-circle" class="float-right" (click)="deleteItem(item, i)" class="align-icon"
          ></ion-icon>
        <ion-item padding>
          <ion-input placeholder="Maintenance Items" type="text" 
            name="maintenanceItem" [(ngModel)]="item.maintenanceItem"></ion-input>
        </ion-item>
        <!-- <ion-item>
        <ion-textarea placeholder="Description" type="text" [(ngModel)]="preventivemaintenance.description" name="description"></ion-textarea>
      </ion-item> -->
        <ion-item>
          <ion-textarea placeholder="Write steps here!" type="text" 
            name="steps" [(ngModel)]="item.steps"></ion-textarea>
        </ion-item>
        <!--  <ion-item>
        <ion-textarea placeholder="Write job safety advice!" type="text" [(ngModel)]="preventivemaintenance.precautions" name="precautions"></ion-textarea>
      </ion-item> -->
        <ion-item>
          <ion-label>Priority</ion-label>
          <ion-select  name="priority" [(ngModel)]="item.priority">
            <ion-option *ngFor="let priority of priorities" [value]="priority"
              [selected]="selectedPriority == priority">{{priority}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Responsibility</ion-label>
          <ion-select  name="responsibility" [(ngModel)]="item.responsibility">
            <ion-option *ngFor="let responsibility of responsibilities" [value]="responsibility"
              [selected]="selectedResponsibility == responsibility">{{responsibility}}</ion-option>
          </ion-select>
        </ion-item>
        <button ion-button type="submit" block [disabled]="!workorder.workorderno || error"
        (click)="submit(item, i, $event)">Update</button>
        </div>
      </fieldset>
        
      <br>
      <form margin-top [formGroup]="workOrderForm">
      <div formArrayName="itemArray">
      <div *ngFor="let item of workOrderForm.controls.itemArray.controls; let i=index">
          <div  [formGroupName]="i">
        <ion-icon *ngIf="workOrderForm.controls.itemArray.controls.length > 1" name="close-circle" class="float-right" (click)="deleteItemAdded(i)" class="align-icon"
          ></ion-icon>
        <ion-item padding>
          <ion-input placeholder="Maintenance Items" type="text" 
            name="maintenanceitem" formControlName="maintenanceitem"></ion-input>
        </ion-item>
        <!-- <ion-item>
        <ion-textarea placeholder="Description" type="text" [(ngModel)]="preventivemaintenance.description" name="description"></ion-textarea>
      </ion-item> -->
        <ion-item>
          <ion-textarea placeholder="Write steps here!" type="text" 
            name="steps" formControlName="steps"></ion-textarea>
        </ion-item>
        <!--  <ion-item>
        <ion-textarea placeholder="Write job safety advice!" type="text" [(ngModel)]="preventivemaintenance.precautions" name="precautions"></ion-textarea>
      </ion-item> -->
        <ion-item>
          <ion-label>Priority</ion-label>
          <ion-select  name="priority"
            formControlName="priority">
            <ion-option *ngFor="let priority of priorities" [value]="priority"
              [selected]="selectedPriority == priority">{{priority}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Responsibility</ion-label>
          <ion-select  name="responsibility"
            formControlName="responsibility">
            <ion-option *ngFor="let responsibility of responsibilities" [value]="responsibility"
              [selected]="selectedResponsibility == responsibility">{{responsibility}}</ion-option>
          </ion-select>
        </ion-item>
        </div>
        </div>
      </div>

      <button ion-fab mini class="float-right" (click)="addItemArray()">
        <ion-icon name="md-add"></ion-icon>
      </button>
      <button ion-button type="submit" block [disabled]="!workorder.workorderno || error"
        (click)="submitNew()">Submit</button>
  </form>
</ion-content>