<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons left>
      <button color="primary" ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="title-color">{{title}} Fault Registry</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-primary50" padding>
  <ion-fab top right edge *ngIf="platform.is('cordova')">
    <button ion-fab mini margin-left (click)="open()" color="secondary"><ion-icon name="phone-portrait"></ion-icon></button>
  </ion-fab>

  <form margin-top>
    <fieldset [disabled]="disabled">
      <ion-item>
        <ion-input placeholder="Fault Number" type="text" [(ngModel)]="faultregistry.faultid" name="faultid" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Name" type="text" [(ngModel)]="faultregistry.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-right name="md-calendar"></ion-icon>
        <ion-input placeholder="Date" type="date" [(ngModel)]="faultregistry.date" name="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Facility" type="text" [(ngModel)]="faultregistry.faculty" name="faculty" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Location" type="text" [(ngModel)]="faultregistry.location" name="location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ng2-auto-complete [source]="equipmentsCatArray" list-formatter="name" (valueChanged)="selectEquipmentsCats($event)"
          placeholder="Equipment" type="text" [(ngModel)]="faultregistry.equipmentcatname" name="equipmentcatname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ng2-auto-complete [source]="equipmentsTagArray" list-formatter="tag" (valueChanged)="selectEquipmentsTags($event)"
          placeholder="Equipment tag name" type="text" [(ngModel)]="faultregistry.equipmenttag" name="equipmenttag"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ng2-auto-complete [source]="equipmentsPartArray" list-formatter="name" (valueChanged)="selectEquipmentsParts($event)"
          placeholder="Equipment Part" type="text" [(ngModel)]="faultregistry.equipmentpartname" name="equipmentpartname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ng2-auto-complete [source]="equipmentsPartTagArray" list-formatter="tag" (valueChanged)="selectEquipmentsPartsTags($event)"
          placeholder="Equipment Part tag" type="text" [(ngModel)]="faultregistry.tagname" name="tagname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Description" type="text" [(ngModel)]="faultregistry.description" name="description"></ion-textarea>
      </ion-item>
      <div input-field>
        <ion-item padding>
          <div><button ion-fab mini (click)="picture()" color="secondary">
              <ion-icon name="camera"></ion-icon>
            </button> Add picture of equipment to fix </div>
          <input *ngIf="showfileinput" type="file" accept="image/*" (change)="handleFiles($event)">
          <br />
          <input type="hidden" name="picture" [(ngModel)]="faultregistry.picture">
          <ion-card *ngIf="oncam && !platform.is('cordova')">
            <ack-webcam [(ref)]="webcam" [options]="options" (onSuccess)="onCamSuccess($event)" (onError)="onCamError($event)"></ack-webcam>
            <ion-card-content>
              <ion-item>
                <a ion-button block margin-bottom color="primary" (click)="camera()">
                  Snap
                </a>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item no-padding>
          <img imageViewer [src]="_DomSanitizer.bypassSecurityTrustUrl(faultregistry.picture)" />
        </ion-item>
      </div>
      <button ion-button type="submit" (click)="submit()" block>Submit</button>
    </fieldset>
  </form>
</ion-content>