<ion-split-pane id='home'>
  <ion-menu type="overlay" [content]="mycontent" class="bg-primary50">
    <ion-content class="bg-primary50 margin-top">
      <ion-list>
        <button color="dark" ion-item detail-push (click)="toggleSelection(index)"><span class="icon-color"><ion-icon name="ios-people" padding-right padding-left></ion-icon>Staff</span><ion-icon *ngIf="!show" class="icon-color2" item-right name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="show" item-right class="icon-color2" name="ios-arrow-down"></ion-icon></button>
        <button *ngIf="show" color="light" ion-item detail-push (click)="openManager()"><span><ion-icon name="md-contact" padding-right padding-left ></ion-icon>Managers</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <button *ngIf="show" color="light" ion-item detail-push (click)="openSupervisor()"><span><ion-icon name="person-add" padding-right padding-left ></ion-icon>Supervisors</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <button *ngIf="show" color="light" ion-item detail-push (click)="openOperator()"><span><ion-icon name="md-person" padding-right padding-left ></ion-icon>Operators</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <button color="dark" ion-item detail-push (click)="openRegistry()"><span class="icon-color"><ion-icon name="ios-clipboard" padding-right padding-left ></ion-icon>Fault Registry</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <button color="dark" ion-item detail-push (click)="openPm()"><span class="icon-color"><ion-icon name="ios-construct" padding-right padding-left ></ion-icon>PM/Work Order</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <button color="dark" ion-item detail-push (click)="openDailyreport()"><span class="icon-color"><ion-icon name="ios-copy" padding-right padding-left ></ion-icon>Total Daily Reports</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <!-- <button color="dark" ion-item detail-push (click)="openDailyreport()"><span class="icon-color"><ion-icon name="ios-copy" padding-right padding-left ></ion-icon>Daily Reports</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button> -->
        <button color="dark" ion-item detail-push (click)="openWorkPermit()"><span class="icon-color"><ion-icon name="ios-clipboard" padding-right padding-left></ion-icon>Work Permit</span><ion-icon class="icon-color2" item-right name="ios-arrow-forward"></ion-icon> <ion-badge *ngIf="filteredWorkpermitLength!=0" id="notifications-badge" color="danger">{{filteredWorkpermitLength}}</ion-badge></button>
        <!-- <button color="dark" ion-item detail-push><span class="icon-color"><ion-icon name="md-contacts" padding-right padding-left ></ion-icon>Workers Schedule</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button> -->
        <button color="dark" ion-item detail-push (click)="openMaterial()"><span class="icon-color"><ion-icon name="ios-clipboard" padding-right padding-left></ion-icon>Material List</span><ion-icon class="icon-color2" item-right name="ios-arrow-forward"></ion-icon></button>
        <button color="dark" ion-item detail-push (click)="toggleSelection2(index)"><span class="icon-color"><ion-icon name="hammer" padding-right padding-left ></ion-icon>Equipment List</span><ion-icon *ngIf="!showWork" item-right class="icon-color2" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="showWork" item-right class="icon-color2" name="ios-arrow-down"></ion-icon></button>
        <button *ngIf="showWork" color="light" ion-item detail-push (click)="openEquipments()"><span><ion-icon name="md-construct" padding-right padding-left ></ion-icon>Equipment</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <button *ngIf="showWork" color="light" ion-item detail-push (click)="openSpareparts()"><span><ion-icon name="md-cog" padding-right padding-left ></ion-icon>Equipment Parts</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <!-- <button *ngIf="showWork" color="light" ion-item detail-push (click)="openSpareparts()"><span><ion-icon name="ios-bookmark" padding-right padding-left ></ion-icon>Equipment Tag Name</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button> -->
        <!-- <button color="dark" ion-item detail-push (click)="openEngineer()"><span class="icon-color"><ion-icon name="ios-clipboard" padding-right padding-left></ion-icon>Operation Manual</span><ion-icon class="icon-color2" item-right name="ios-arrow-forward"></ion-icon></button> -->
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav #mycontent main swipeBackEnabled="false"></ion-nav>

  <ion-header>
    <ion-navbar hideBackButton color="primary">
      <ion-title>  
        NO&G PM
      </ion-title>
      <div class="align-user"> <strong>ADMIN</strong><br> (ADMIN)</div>
      <ion-buttons end>
        <button (click)="logOut()" ion-button icon-only>
                    <ion-icon name="ios-exit-outline"></ion-icon>
                </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content class="background-image">
    <div class="bg-color bg-size">
      <div>
        <ion-row class="wlm-msg" align-items-start>
          <ion-col align-self-baseline col-12>
            <ion-list text-center>
              <img src="assets/images/NOG-LOGO.jpg" width="200px" />
              <h3 class="title">OGPOOC (CMMS)</h3>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <form>
                <ion-item>
                  <ion-icon item-right name="md-calendar"></ion-icon>
                  <ion-input [(ngModel)]="currentDate" (ngModelChange)="dailyWorkorder()" placeholder="Date" type="date" name="date"></ion-input>
                </ion-item>
              </form>
              <ion-item>
                <ion-icon item-left name="document"></ion-icon>
                <strong color="dark">Daily Work Order/PM actions</strong>
              </ion-item>
              <ion-item class="txt-size">{{dailyWolength}}</ion-item>
              <ion-item><button ion-button item-right (click)="openPm()" small>View Work Orders</button></ion-item>
            </ion-card>
          </ion-col>
           <ion-col>
            <ion-card>
              <form>
                <ion-item>
                </ion-item>
              </form>
              <ion-item>
                <ion-icon item-left name="ios-clipboard"></ion-icon>
                <strong color="dark">Daily Reports</strong>
              </ion-item>
              <ion-item class="txt-size">{{dailyallReportlength}}</ion-item>
              <ion-item><button ion-button item-right (click)="openDailyreport()" small>View Work Daily Reports</button></ion-item>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-item>
              </ion-item>
              <ion-item>
                <ion-icon item-left name="document"></ion-icon>
                <strong color="dark">Work Permit</strong>
              </ion-item>
              <ion-item class="txt-size">{{deptWorkpermitslength}}</ion-item>
              <ion-item><button ion-button item-right small (click)="openWorkPermit()">View Work Permit List</button></ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-span="3">
            <ion-card class="card-point">
              <ion-item>
                <ion-icon item-left name="ios-clipboard"></ion-icon>
                <strong color="dark">Available Material</strong>
              </ion-item>
              <ion-item class="txt-size">{{materialList}}</ion-item>
              <ion-item><button ion-button item-right small (click)="openMaterial()">View Material List</button></ion-item>
            </ion-card>
          </ion-col>
          <ion-col col-span="3">
            <ion-card>
              <ion-item>
                <ion-icon item-left name="ios-construct"></ion-icon>
                <strong color="dark">Equipmets</strong>
              </ion-item>
              <ion-item class="txt-size">{{equipmentLength}}</ion-item>
              <ion-item><button ion-button item-right small (click)="openEquipments()">View Equipments</button></ion-item>
            </ion-card>
          </ion-col>
          <ion-col col-span="3">
            <ion-card>
              <ion-item>
                <ion-icon item-left name="ios-cog"></ion-icon>
                <strong color="dark">No of Fault Registry</strong>
              </ion-item>
              <ion-item class="txt-size">{{faultRegistrylength}}</ion-item>
              <ion-item><button ion-button item-right small (click)="openRegistry()">View Fault Registry</button></ion-item>
            </ion-card>
          </ion-col>
          <ion-col col-span="3">
            <ion-card class="card-point">
              <ion-item>
                <ion-icon item-left name="ios-folder-open"></ion-icon>
                <strong color="dark">Total No of PM/Work Order History</strong>
              </ion-item>
              <ion-item class="txt-size">{{totalWolength}}</ion-item>
              <ion-item><button ion-button item-right small (click)="openPm()">View PM</button></ion-item>
            </ion-card>
          </ion-col>
        </ion-row>

      </div>
      <ion-fab class="align-bottom" bottom left menuToggle>
        <button ion-fab mini>
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-fab>
    </div>
  </ion-content>
</ion-split-pane>