<ion-split-pane id='home'>
  <ion-menu type="overlay" [content]="mycontent" class="bg-primary50">
    <ion-content class="bg-primary50 margin-top">
      <ion-list>
        <button color="dark" ion-item detail-push (click)="openWorkPermit()"><span class="icon-color"><ion-icon name="ios-clipboard" padding-right padding-left ></ion-icon>Work Permit</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <button color="dark" ion-item detail-push (click)="openPm()"><span class="icon-color"><ion-icon name="ios-construct" padding-right padding-left ></ion-icon>Daily Reports</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <button color="dark" ion-item detail-push (click)="openWorkorder()"><span class="icon-color"><ion-icon name="ios-copy" padding-right padding-left ></ion-icon>Fault Registry</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <button color="dark" ion-item detail-push (click)="toggleSelection(index)"><span class="icon-color"><ion-icon name="hammer" padding-right padding-left ></ion-icon>Spare Part</span><ion-icon *ngIf="!show" item-right class="icon-color2" name="ios-arrow-forward"></ion-icon><ion-icon *ngIf="show" item-right class="icon-color2" name="ios-arrow-down"></ion-icon></button>
        <button *ngIf="show" color="light" ion-item detail-push (click)="openEquipments()"><span><ion-icon name="ios-add" padding-right padding-left ></ion-icon>Equipment Category</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <button *ngIf="show" color="light" ion-item detail-push (click)="openSpareparts()"><span><ion-icon name="ios-build" padding-right padding-left ></ion-icon>Spare Parts</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <button color="dark" ion-item detail-push><span class="icon-color"><ion-icon name="md-contacts" padding-right padding-left ></ion-icon>PM/Work Order</span><ion-icon item-right class="icon-color2" name="ios-arrow-forward"></ion-icon></button>
        <button color="dark" ion-item detail-push (click)="openEngineer()"><span class="icon-color"><ion-icon name="ios-clipboard" padding-right padding-left></ion-icon>Material List</span><ion-icon class="icon-color2" item-right name="ios-arrow-forward"></ion-icon></button>
       <button color="dark" ion-item detail-push (click)="openEngineer()"><span class="icon-color"><ion-icon name="ios-clipboard" padding-right padding-left></ion-icon>Operation Manual</span><ion-icon class="icon-color2" item-right name="ios-arrow-forward"></ion-icon></button> 
       <button color="dark" ion-item detail-push (click)="openEngineer()"><span class="icon-color"><ion-icon name="ios-clipboard" padding-right padding-left></ion-icon>Operators Schedule</span><ion-icon class="icon-color2" item-right name="ios-arrow-forward"></ion-icon></button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav #mycontent main swipeBackEnabled="false"></ion-nav>

  <ion-header>
    <ion-navbar hideBackButton color="primary">
      <ion-title>
        NO&G PM
      </ion-title>
      <div class="align-user"> <strong>Amaka Ekwuru </strong><br> (Process Operator)</div>
      <ion-buttons end>
        <button (click)="logOut()" ion-button icon-only>
                    <ion-icon name="ios-exit-outline"></ion-icon>
                </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content class="background-image">
    <div class="bg-color bg-size">
      <div>
        <ion-row class="wlm-msg" align-items-start>
          <ion-col align-self-baseline col-12>
            <ion-list text-center>
              <img src="assets/images/NOG-LOGO.jpg" width="200px" />
              <h3 class="title">Preventive Maintenance Solution</h3>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <form>
                <ion-item>
                  <ion-icon item-right name="md-calendar"></ion-icon>
                  <ion-input placeholder="Date" type="date" name="date"></ion-input>
                </ion-item>
              </form>
              <ion-item>
                <ion-icon item-left name="ios-construct"></ion-icon>
                <strong color="dark">Daily Work Order/PM actions</strong>
              </ion-item>
              <ion-item class="txt-size">2</ion-item>
              <ion-item><button ion-button item-right small>View Work Orders</button></ion-item>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-item>
              </ion-item>
              <ion-item>
                <ion-icon item-left name="ios-construct"></ion-icon>
                <strong color="dark">Available Spare Parts</strong>
              </ion-item>
              <ion-item class="txt-size">12</ion-item>
              <ion-item><button ion-button item-right small>View Spare Parts List</button></ion-item>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-item>
              </ion-item>
              <ion-item>
                <ion-icon item-left name="ios-cog"></ion-icon>
                <strong color="dark">No of Fault Registry</strong>
              </ion-item>
              <ion-item class="txt-size">5</ion-item>
              <ion-item><button ion-button item-right small>View Fault Registry</button></ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card class="card-point">
              <ion-item>
                <ion-icon item-left name="ios-clipboard"></ion-icon>
                <strong color="dark">Available Material</strong>
              </ion-item>
              <ion-item class="txt-size">50</ion-item>
              <ion-item><button ion-button item-right small>View Material List</button></ion-item>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="card-point">
              <ion-item>
                <ion-icon item-left name="document"></ion-icon>
                <strong color="dark">Work Permit</strong>
              </ion-item>
              <ion-item class="txt-size">2</ion-item>
              <ion-item><button ion-button item-right small (click)="dailyWorkPermit()">View Work Permit List</button></ion-item>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="card-point">
              <ion-item>
                <ion-icon item-left name="ios-folder-open"></ion-icon>
                <strong color="dark">Total No of PM/Work Order History</strong>
              </ion-item>
              <ion-item class="txt-size">100</ion-item>
              <ion-item><button ion-button item-right small>View PM</button></ion-item>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-card>
          <ion-card-header>
            <ion-item>
              <span item-left>Sales and Expenses for the Year</span>
              <select (change)="selectYear($event.target.value)" item-right>
                        <option *ngFor="let year of years">{{year}}</option>
                    </select>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <canvas #barCanvas></canvas>
          </ion-card-content>
        </ion-card>

      </div>
      <ion-fab class="align-bottom" bottom left menuToggle>
        <button ion-fab mini>
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-fab>
    </div>
  </ion-content>
</ion-split-pane>