page-faultregistry {
.bar-container {
        border: 1px solid color($colors, secondary);

        ion-col {
            background-color: white;

            &.bar-success {
                background-color: color($colors, primary);
            }
        }
    }

    .eng-color{
        color: color($colors, attrgreen);
    }

    .equip-image{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 3px;
        cursor: pointer;
    }

    .faulty{
        background-color: #eecc46;
    }

    .normal{
        background-color: white;
    }

    .list-price, .items-count {
        margin-left: auto;
        padding: 2px 5px;
    }

    @media screen and (min-width: 768px) {
        .margin-top{
            margin-top:56px;
        }
    }
}
